
# Ignore the statically generated site.
_site

#Ignore vim junk
*.swp
*.swo
*~
tags

# Ignore jekyll stuff
.jekyll-metadata*
Gemfile.lock

#aspell junk
*.bak
.parcel-cache


# don't check in algolia password
_algolia_api_key
_cypress_api_key

# Ignore node stuff
node_modules/
package-lock.json
yarn.lock

# Cypress artificats

cypress/videos
cypress/screenshots

# instrumented code
instrumented/
coverage/
.nyc_output

pysrc/__pycache__/
.aider*
.env
.specstory

# Ignore chroma database files
blog.chroma.db/
