# prettier messes up the jekyll tags in head
_includes/head.html
# prettier messes up the quadrant matrix formatting
_includes/quadrant-matrix.html
zz-chop-logs/**

# Prettier reformats my python json
_ig66/ig66-export.json
back-links.json
eulogy.json

# Ignore JS Files created by TS
**/*js

# Chop logs exclusions following chop-conventions
.specstory/**
zz-chop-logs

