---
title: Debug the page
layout: empty
---

<!DOCTYPE html>
<html lang="en">
  <!-- pre head -->

  <head>
    <!-- pre include -->
    {% include head.html %}
  </head>

  <!--
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>Debug the page</title>

</head>
-->

  <body
    data-spy="scroll"
    data-target=".nav-scroll-spy"
    style="position:relative"
  >
    {% include site-menu.html %}

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <article class="article">
      <div id="content-holder" class="pretty-first-para">
        {% include toc.html %}

        <nav
          id="debug-page-scroll-spy"
          class="nav-scroll-spy"
          style="position:fixed"
        ></nav>

        <h1>Outer 1</h1>
        <p>hello world</p>
        <p>hello world</p>
        <p>hello world</p>
        <p>hello world</p>
        <p>hello world</p>
        <p>hello world</p>
        <p>hello world</p>
        <p>hello world</p>
        <p>hello world</p>
        <p>hello world</p>
        <p>hello world</p>
        <p>hello world</p>
        <p>hello world</p>
        <p>hello world</p>
        <p>hello world</p>
        <p>hello world</p>
        <p>hello world</p>
        <p>hello world</p>
        <p>hello world</p>
        <h1>Inner 4</h1>
        <p>hello world</p>
        <p>hello world</p>
        <p>hello world</p>
        <p>hello world</p>
        <p>hello world</p>
        <p>hello world</p>
        <p>hello world</p>
        <p>hello world</p>
        <p>hello world</p>
        <p>hello world</p>
        <p>hello world</p>
        <p>hello world</p>
        <p>hello world</p>
        <p>hello world</p>
        <p>hello world</p>
        <p>hello world</p>
        <p>hello world</p>
        <p>hello world</p>
        <p>hello world</p>
        <p>hello world</p>
        <p>hello world</p>
        <p>hello world</p>
        <p>hello world</p>
        <p>hello world</p>
        <p>hello world</p>
        <p>hello world</p>
        <p>hello world</p>
        <p>hello world</p>
        <p>hello world</p>
        <p>hello world</p>
        <p>hello world</p>
        <p>hello world</p>

        <h1>Inner 3</h1>
        <h1>Outer 2</h1>
        <h1>Inner 2</h1>
      </div>
    </article>
    <span id="hold-scripts-so-looks-nice-debugging">
      {% include scripts.html %}
      <script>
        //  Bootstrap tables are optin, so set their class
        // https://getbootstrap.com/docs/4.0/content/tables/#table-head-options
        $("table").addClass("table");
      </script>
    </span>
  </body>
</html>

<!--
    <table>
        <thead>
            <tr>
                <th>Year</th>
                <th>Base</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>0aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</td>
                <td>150</td>
            </tr>
        </tbody>
    </table>
-->
