---
title: Debug the page
layout: empty
---

<!doctype html>
<html lang="en">

<!-- pre head -->

<head>
    <!-- pre include -->
    {% include head.html %}
</head>

<!--
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>Debug the page</title>

</head>
-->

<body>
    {% include site-menu.html %}


    <h1> H1 in in the body!</h1>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    {% include scripts.html %}

    <table class="table">
        <thead>
            <tr>
                <th>Company</th>
                <th>Salary</th>
                <th>Cash Bonus</th>
                <th>Stock Model</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Amazon</td>
                <td>Yes Maximum 160K</td>
                <td>Only in first 2 years</td>
                <td>4 year grant. Per year 5%,15%, 40%, 40%</td>
            </tr>
            <tr>
                <td>Google</td>
                <td>Yes</td>
                <td>Yes</td>
                <td>4 year grant vest monthly</td>
            </tr>
            <tr>
                <td>Facebook</td>
                <td>Yes</td>
                <td>Yes</td>
                <td>4 year grant vest quarterly</td>
            </tr>
            <tr>
                <td>Indeed</td>
                <td>Yes</td>
                <td>Yes</td>
                <td>It’s a private company and using something like stocks called LTIPs very complex</td>
            </tr>
            <tr>
                <td>Microsoft</td>
                <td>Yes</td>
                <td>Yes</td>
                <td>Unknown</td>
            </tr>
        </tbody>
    </table>
</body>

</html>