---
layout: page
permalink: /featured/
title: FEATURED POSTS
description: "A curated list of featured posts, data-driven and maintained by hand."
---

<ul class="post-list">
  {% assign featuredcount = site.data.featured.size %}
  {% for item in site.data.featured %}
  <li>
    <article>
      <i class="fa fa-star-half-o"></i>
      <a href="{{ site.url }}{{ item.url }}">{{ item.title }}</a>
      <p class="description">{{ item.description }}</p>
      {% if item.tags %}
      <div class="tags">
        {% for tag in item.tags %}
        <span class="tag">{{ tag }}</span>
        {% endfor %}
      </div>
      {% endif %}
    </article>
  </li>
  {% endfor %}
</ul>

{% if featuredcount == 0 %}
<div class="notepad-page-title row">
  <h1>No posts have been featured yet</h1>
</div>
{% endif %}
