---
layout: page
permalink: /featured/
title: FEATURED POSTS
description: "Curated collection of essential posts"
---

{% if site.data.featured.featured_posts %}
<ul class="post-list">
  {% for post in site.data.featured.featured_posts %}
  <li>
    <article>
      <i class="fa fa-star-half-o"></i>
      <a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a>
      <div class="entry-description">{{ post.description }}</div>
      {% if post.tags %}
      <div class="entry-tags">
        {% for tag in post.tags %}
          <span class="tag">{{ tag }}</span>
        {% endfor %}
      </div>
      {% endif %}
    </article>
  </li>
  {% endfor %}
</ul>
{% else %}
<div class="notepad-page-title row">
  <h1>No posts have been featured yet</h1>
</div>
{% endif %}

<style>
.entry-description {
  color: #666;
  font-size: 0.9em;
  margin: 5px 0;
}

.entry-tags {
  margin: 5px 0;
}

.tag {
  display: inline-block;
  background: #f0f0f0;
  padding: 2px 8px;
  margin: 2px;
  border-radius: 3px;
  font-size: 0.85em;
  color: #555;
}
</style>