---
layout: post
title: Tags
permalink: /tags2
description: "An archive of posts sorted by tag."
---

<h1>Tags</h1>
{% assign all_tags = "" %} {% for collection in site.collections %} {% for tag
in collection.docs | map: 'tags' | join: ',' | split: ',' | map: 'strip' | uniq
%} {% capture tag_name %}{{ tag }}{% endcapture %} {% capture tag_url %}/tags/{{
tag_name | slugify }}/{% endcapture %} {% assign all_tags = all_tags | append:
',' | append: tag_name %}
<a href="{{ tag_url }}">{{ tag_name }}</a>
{% endfor %} {% endfor %} {% assign all_tags = all_tags | split: ',' | map:
'strip' | uniq %} {% for tag in all_tags %} {% capture tag_url %}/tags/{{ tag |
slugify }}/{% endcapture %}
<a href="{{ tag_url }}">{{ tag }}</a>
{% endfor %}
