---
layout: home
title: Homepage
tags: []
paginate: 5
---
<h1> My drafts </h1>
{% assign sorted = site.d | sort:"title" %}

{% for item in sorted %}
<p><a href="{{ item.url }}">{{ item.title }}</a>[<a href="{{ item.url }}">{{ item.url }}</a>]</p>
</p>{{ item.path}}</p>
</p>{{ item.title}}</p>
{% endfor %}

<h1> My Posts </h1>
{% assign sorted = site.posts | sort:"title" %}

{% for item in sorted %}
<p><a href="{{ item.url }}">{{ item.title }}</a>[<a href="{{ item.url }}">{{ item.url }}</a>]</p>
</p>{{ item.path}}</p>
</p>{{ item.title}}</p>
{% endfor %}
