---
layout: page
title: Drafts
tags: []
paginate: 5
---

<h1>My drafts</h1>
{% assign sorted = site.d | sort:"title" %} {% for item in sorted %}
<p>
  <a href="{{ item.url }}">{{ item.title }}</a>[<a href="{{ item.url }}"
    >{{ item.url }}</a
  >] [{{ item.path}}]
</p>
{% endfor %}

<h1>My Posts</h1>
{% assign sorted = site.posts | sort:"title" %} {% for item in sorted %}
<p>
  <a href="{{ item.url }}">{{ item.title }}</a>[<a href="{{ item.url }}"
    >{{ item.url }}</a
  >] [{{ item.path}}]
</p>
{% endfor %}
