<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script
  type="module"
  src="https://js.withorbit.com/orbit-web-component.js"
></script>

<!-- Latest compiled and minified JavaScript for bootstrap-->
<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
  crossorigin="anonymous"
></script>

<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/glightbox/dist/css/glightbox.min.css"
/>

<script src="/assets/js/vendor/asciinema-player.js"></script>
<link rel="stylesheet" href="/assets/css/vendor/asciinema-player.css" />

<script src="https://cdn.jsdelivr.net/gh/mcstudios/glightbox/dist/js/glightbox.min.js"></script>

<!--https://github.com/biati-digital/glightbox-->
<script type="text/javascript">
  const lightbox = GLightbox();
</script>

<!-- https://craig.is/killing/mice -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/mousetrap/1.6.3/mousetrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.15/lodash.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.1/dist/js.cookie.min.js"></script>

<script src="/assets/js/vendor/md-toc.js"></script>

<script type="module">
  import { load_globals } from "/assets/js/main.js";
  defer(load_globals);
</script>

<script src="https://cdn.plot.ly/plotly-2.6.3.min.js"></script>

<!-- Brython is kind of slow, consider only loading it async -->
<!-- Not sure why can't inline this into the markdown script -->
<script src="https://cdn.jsdelivr.net/npm/brython@3/brython.min.js" />
<script src="https://cdn.jsdelivr.net/gh/PierreQuentel/brython-widgets/brython-widgets.brython.js"></script>
<script src="https://cdn.jsdelivr.net/npm/brython@3/brython_stdlib.js" />

<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script
  id="MathJax-script"
  async
  src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"
></script>
<script
  src="https://cdn.jsdelivr.net/npm/algoliasearch@4.5.1/dist/algoliasearch-lite.umd.js"
  integrity="sha256-EXPXz4W6pQgfYY3yTpnDa3OH8/EPn16ciVsPQ/ypsjk="
  crossorigin="anonymous"
></script>
<script src="https://cdn.jsdelivr.net/npm/@algolia/autocomplete-js"></script>
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/@algolia/autocomplete-theme-classic"
/>

{% if site.google_analytics %}
<!-- Asynchronous Google Analytics snippet -->
<!-- Global site tag (gtag.js) - Google Analytics -->
<script
  async
  src="https://www.googletagmanager.com/gtag/js?id=G-D89CT48YK1"
></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag() {
    dataLayer.push(arguments);
  }
  gtag("js", new Date());

  gtag("config", "G-D89CT48YK1");
</script>

{% endif %}
