<!-- Image and text -->
<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style='padding:0'>
        <a class="navbar-brand" href="/" style="padding: 0;">
            <img src="{{ site.logo-png}}" height="60" alt="">
        </a>

        {% if page.monkey-does-reload %}
            <a class="navbar-brand" href="/ig66" style="padding: 0;">
        {% else %}
            <a class="navbar-brand" href="/random" style="padding: 0;">
        {% endif %}
                <img src="/images/surprised_monkey.png" height="60" alt="">
            </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToCollapse"
            aria-controls="navbarToCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarToCollapse">
            <div class="navbar-nav">
                {% for link in site.links %}
                <a class="nav-link nav-item" {% if link.external %} href="{{ link.url }}" {% else %}
                    href="{{ site.url }}{{ link.url }}" {% endif %}>
                    {{ link.title }}
                </a>
                {% endfor %}
            </div>
        </div>
    </nav>
</header>
