<!-- Image and text -->
<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="padding:0">
    <span class="navbar-brand" href="#" style="padding: 0;">
      <img
        id="autocomplete-search-box-button"
        src="{{ site.logo-png}}"
        height="60"
        alt=""
      />
    </span>
    <img
      id="monkey-button"
      src="/images/surprised_monkey.png"
      height="60"
      alt=""
    />
    <a class="nav-link nav-item nav-fa-icon" href="/linkedin"
      ><i class="fab fa-linkedin"></i
    ></a>
    <a class="nav-link nav-item nav-fa-icon" href="/todo_enjoy"
      ><i class="fas fa-heart"></i
    ></a>
    <a
      class="nav-fa-icon"
      href="https://github.com/idvorkin/idvorkin.github.io/blob/master/{{page.path}}"
      ><i class="fa fa-github"></i
    ></a>
    <a class="nav-link nav-item nav-fa-icon" href="/about"
      ><i class="fas fa-info-circle"></i
    ></a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarToCollapse"
      aria-controls="navbarToCollapse"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarToCollapse">
      <a class="nav-link nav-item nav-fa-icon" href="/ig66"
        ><i class="fas fa-baby-carriage"></i
      ></a>
      <a class="nav-link nav-item nav-fa-icon" href="/td"
        ><i class="fas fa-microchip"></i
      ></a>
      <a class="nav-link nav-item nav-fa-icon" href="/tags"
        ><i class="fas fa-tags"></i
      ></a>
      <a class="nav-link nav-item nav-fa-icon" href="/7-habits"
        ><i class="fas fa-hammer"></i
      ></a>
    </div>
  </nav>
</header>

<style>
  .aa-Autocomplete {
  }
</style>
<script type="module">
  import { CreateAutoComplete } from "/assets/js/search.js";
  CreateAutoComplete(
    "{{site.algolia.application_id}}",
    "{{site.algolia.search_only_api_key}}",
    "{{site.algolia.index_name}}"
  );

  $("#autocomplete-search-box-button").click(function() {
    // $("#autocomplete-search-box").toggleClass("autocomplete-search-box-active");
    console.log("Clicked");
    $("#autocomplete-search-box > div > button").click();
  });
</script>
<!-- Keep search box hidden, and only access the detached state -->
<div id="autocomplete-search-box" style="display:none"></div>
