<!-- drawer scroll up -->
<!-- Hide when XL -->
<div
  id="id-ui-toc-dropdown"
  class="ui-toc unselectable hidden-print d-block d-xl-none"
>
  <div class="dropdown">
    <a
      id="tocLabel"
      class="ui-toc-label btn"
      data-bs-toggle="dropdown"
      href="#"
      role="button"
      title="Table of content"
      style="font-size: x-large"
    >
      &#8801;
    </a>
    <ul
      id="ui-toc"
      class="nav-scroll-spy ui-toc-dropdown dropdown-menu"
      aria-labelledby="tocLabel"
    ></ul>
  </div>
  <!-- dropdown -->
</div>
