<div id="ui-toc-affix" class="ui-affix-toc ui-toc-dropdown unselectable hidden-print" data-spy="affix"
    style="top:17px;display:none;"></div>

<div class="ui-toc dropup unselectable hidden-print">
    <div class="dropdown">
        <a id="tocLabel" class="ui-toc-label btn btn-default" data-toggle="dropdown" href="#" role="button"
            aria-haspopup="true" aria-expanded="false" title="Table of content">
            <span class="navbar-toggler-icon"></span>
        </a>
        <ul id="ui-toc" class="ui-toc-dropdown dropdown-menu" aria-labelledby="tocLabel">
        </ul>
    </div>
</div>