<!-- drawer scroll up -->
<!-- hide  when XL -->
<div class="ui-toc dropup unselectable hidden-print d-block d-xl-none ">
  <div class="dropdown">
    <a
      id="tocLabel"
      class="ui-toc-label btn"
      data-toggle="dropdown"
      href="#"
      role="button"
      aria-haspopup="true"
      aria-expanded="false"
      title="Table of content"
      style="font-size:x-large;"
    >
      &#8801;
    </a>
    <ul
      id="ui-toc"
      class="nav-scroll-spy ui-toc-dropdown dropdown-menu"
      aria-labelledby="tocLabel"
    ></ul>
  </div>
</div>
