/*
.pretty-first-para:first-letter {
    font-size: 4.5em;
    float: left;
    margin-top: .15em;
}*/

/*Make first paragraph big*/
/* Look at*/
/* https://github.com/idvorkin/idvorkin.github.io/blob/dc1c29e4dfa89b9e3ba79a4abb40507d8ddab808/assets/css/post.css#L291*/
 .pretty-first-para>p:first-of-type {
  font-size: 1.375rem;
  }

.pretty-first-para>p:first-of-type:first-letter {
        font-size: 2.6em;
        font-weight: 600;
    }
  /*
  p:first-of-type::first-letter {
    font-size: 4.5em;
    float: left;
    margin-top: .15em;
  }
  */

  /*
All images in the container, should be full width. Can learn more markdown and re-style it
  */
  .container img{
    width:100%
  }