/*
.pretty-first-para:first-letter {
    font-size: 4.5em;
    float: left;
    margin-top: .15em;
}*/

/*Make first paragraph big*/
/* Look at*/
/* https://github.com/idvorkin/idvorkin.github.io/blob/dc1c29e4dfa89b9e3ba79a4abb40507d8ddab808/assets/css/post.css#L291*/
.pretty-first-para > p:first-of-type {
  font-size: 1.375rem;
}

/* If there are two consequetive summary links, add a line between them */

.summary-link + .summary-link {
  margin-top: 1rem;
  padding-top: 1rem;
  border-top: 1px solid #e0e0e0;
}

.pretty-first-para > p:first-of-type:first-letter {
  font-family: Georgia;
  font-size: 2.4em;
  float: left;
  line-height: 0.95;
}
/*
    p:first-of-type::first-letter {
    font-size: 4.5em;
    }
     */

/*
All images in the container, should be full width. Can learn more markdown and re-style it
 */
.container img:not(.float-right-img) {
  width: 100%;
}
/*
If you have normal wrapping rules, you'll end up extending page width which you don't want as it
    enables scrolling
    https://stackoverflow.com/questions/6666532/how-to-force-table-cell-td-content-to-wrap
    https://github.com/w3c/csswg-drafts/issues/121
    https://stackoverflow.com/questions/6601148/100-width-table-overflowing-div-container

  .container table {
    width:fixed; // not ideal since columns are equal width
  }

  */

/* Make code blocks look more like github */
pre {
  background-color: #f6f8fa;
}

.container td {
  overflow-wrap: break-word;
}

/* Make UL's in tables have no margin-bottom (override reboot) */
.table ul {
  margin-bottom: 0;
}

/*make notes pretty*/
#links-to-page {
  background-color: lightgrey;
  margin-bottom: 20px;
  width: 99pcnt;
}
#links-to-page-title {
  font-size: 1.4em;
  margin-left: 5px;
  margin-bottom: 5px;
}
/*
https://css-tricks.com/line-clampin/
*/

.link-box {
  overflow: hidden;
  max-height: 3em;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  text-align: justify;
}

.link-description {
  line-height: 0.5;
}

.nav-fa-icon {
  font-size: 32px;
  color: white;
  width: 32px;
  height: 32px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

/* Prevent navbar wrapping and ensure even spacing */
.navbar > .navbar-nav,
.navbar > .nav-link,
.navbar > .nav-fa-icon,
.navbar > button,
.navbar > span {
  flex-shrink: 0;
}

.navbar {
  flex-wrap: nowrap !important;
  overflow-x: auto;
}

.navbar .nav-link,
.navbar .nav-fa-icon,
.navbar button,
.navbar span {
  margin-right: 0.5rem;
}

#user-info {
  display: flex;
  align-items: center;
  margin-right: 0 !important;
}

#user-pic {
  width: 24px !important;
  height: 24px !important;
  margin-right: 0 !important;
  object-fit: cover;
}

/* Float-right blog images that remain readable on mobile */
.float-right-img {
  float: right;
  /* Smaller on desktop: between 140px and 220px, ~20% of content width */
  max-width: clamp(140px, 20%, 220px);
  width: 100%;
  height: auto;
  margin: 0 0 0.5rem 1rem;
  clear: right; /* ensure a new image appears below any prior floated image */
}

@media (max-width: 768px) {
  .float-right-img {
    float: right;
    display: inline;
    /* Smaller than before on phones: between 120px and 220px, ~35% width */
    max-width: clamp(120px, 35%, 220px);
    width: auto;
    margin: 0 0 0.5rem 0.75rem;
  }
}
