<!DOCTYPE html>
<html>
<!--
====================================================
    __  ____  ______________  _______ ___    __
   / / / /  |/  / ____/   \ \/ / ___//   |  / /
  / /_/ / /|_/ / /_  / /| |\  /\__ \/ /| | / /
 / __  / /  / / __/ / ___ |/ /___/ / ___ |/ /___
/_/ /_/_/  /_/_/   /_/  |_/_//____/_/  |_/_____/

====================================================
Owner Name: Hossain Mohammad Faysal
Profile: https://www.facebook.com/hmfaysal
Version: 1.1
Description: Awesome dude, awesome life
====================================================
-->

<head>
  {% include head.html %}
</head>

<body class="post-template page" itemscope itemtype="http://schema.org/WebPage">
  {% include site-menu.html %}
  <main id="notepad-page-container" class="notepad-page-container" role="main">
    <article class="container">
      <div>{{ content }}</div>
    </article>
  </main>

  {% include scripts.html %}
</body>

</html>