<!DOCTYPE html>
<html>
  <!--
====================================================
    __  ____  ______________  _______ ___    __
   / / / /  |/  / ____/   \ \/ / ___//   |  / /
  / /_/ / /|_/ / /_  / /| |\  /\__ \/ /| | / /
 / __  / /  / / __/ / ___ |/ /___/ / ___ |/ /___
/_/ /_/_/  /_/_/   /_/  |_/_//____/_/  |_/_____/

====================================================
Owner Name: Hossain Mohammad Faysal
Profile: https://www.facebook.com/hmfaysal
Version: 1.1
Description: Awesome dude, awesome life
====================================================
-->

  <head>
    {% include head.html %}
  </head>

  <body
    data-bs-spy="scroll"
    data-bs-target=".nav-scroll-spy"
    style="position:relative"
  >
    {% include site-menu.html %}
    <main
      id="notepad-page-container"
      class="notepad-page-container"
      role="main"
    >
      <article class="container">
        <div id="content-holder">
          {% if page.has-toc %} {% include toc.html %} {% endif %} {{ content }}
        </div>
      </article>
    </main>

    {% include scripts.html %}
  </body>
</html>
