<!DOCTYPE html>
<html>

<head>
    {% include head.html %}
</head>

<body data-spy="scroll" data-target=".nav-scoll-spy" style="position:relative">

    <main id="notepad-post-container-simple" class="notepad-post-container-simple" role="main">
        {% include site-menu.html %}

        <div class="container">
            <h1 style="text-align:center;">{{ page.title }}</h1>
            <div style="text-align:center">
                {% assign tagsize = page.tags.size %}
                {% if tagsize != 0 %} {% for tag in page.tags %}
                <a href="{{ site.url }}/tags/index.html#{{ tag | cgi_encode }}" data-toggle="tooltip"
                    title="Posts tagged with {{ tag }}">
                    {{ tag }}
                </a>
                {% unless forloop.last %}&comma;
                {% endunless %}{% endfor %}{% endif %}
            </div>
            <article class="article">
                <div id="content-holder" class="pretty-first-para">
                    {% include toc.html %}
                    {{ content }}
                </div>
            </article>
        </div>

    </main>

    <span id="hold-scripts-so-looks-nice-debugging">
        {% include scripts.html %}
    </span>
<!--
    Remove wonky collapsable idea.
    {% if page.collapsable %}
    {% include collapse.html %}
    {% endif %}
-->
    <script>
        //  Bootstrap tables are optin, so set their class
        // https://getbootstrap.com/docs/4.0/content/tables/#table-head-options
        $("table").addClass("table table-striped")
    </script>

</body>

</html>
